<footer>
    <div class="container-fluid">
        <nav class="pull-right">
            <ul>
                <li>
                    <a href="#">
                        صفحه اصلی
                    </a>
                </li>
                <li>
                    <a href="#">
                        درباره برنامه
                    </a>
                </li>
                <li>
                    <a href="#">
                        تماس با تیم سازنده
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-left">
            {{test | date: 'yyyy'}} &copy;
            کلیه حقوق این برنامه برای
    <a href="#"> تیم سازنده</a>
            محفوظ می باشد.
        </p>
    </div>
</footer>
