@font-face{
  font-family: 'IRANSans';
  src: url(../fonts/IRAN-Sans.eot);
  src: url(../fonts/IRAN-Sans.eot?#iefix) format("embedded-opentype"),
  url(../fonts/IRAN-Sans.woff) format("woff"),
  url(../fonts/IRAN-Sans.ttf) format("truetype"),
  url(../fonts/IRAN-Sans.svg#a2ac8b5648085d6c69811dda1047c819) format("svg");
  font-style: normal;
  font-weight: normal;
}