body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.chat-box {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chat-box::after {
    content: "";
    clear: both;
    display: table;
}
.owner-name{
    color: #aaa;
    font-weight: bold;
}

.chat-box img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.chat-box img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}
.contact-page{
    margin-top: 70px;
}