.active-child-menu{
    font-weight: bold;
    color: #2174ff;
}
.pointer {
    cursor: pointer;
}
.dropdownMenu{
    list-style: none;
    text-indent: 10px;
    font-size: 1.2em;
    margin-top:5px;
    color:#3C4858;
    padding: 5px;
}
